//common
.main {
  position: relative;
  margin-top: 60px;
  padding: 2rem;
  .top {
    .tit {
      font-size: 2rem;
      font-weight: bold;
      color: #409EFF;
    }
    .sub {
      color: #909399;
      margin: 1rem 0 2rem 0;
    }
  }
  .btnBottom {
    margin-top: 3rem;
    text-align: center;
  }
}

//table
.el-table {
  &__header {
    th {
      border-top: 2px solid #EBEEF5;
      border-bottom: 2px solid #EBEEF5 !important;
      color: #409EFF;
    }
  }
  &::before {
    height: 2px !important;
  }
}
//form
.el-form {
  margin-right: 1rem;
}

//select-box 
.el-select-dropdown {
  top: 240px !important;
}