//SideNavi
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.sideNavi {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 60px;
    left: 0;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
  .el-menu {
    border: 0;
    // i {
    //   color: #fff
    // }
  }
}

//Navi
.el-header {
  position: fixed;
  top: 0;
  right: 0;
  line-height: 60px;
  width: 100%;
  text-align: right;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.05);
  z-index: 100;
  color: #fff;
  background: #409EFF;
  .logo {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    .round {
      font-size: 0.5rem;
      font-weight: 400;
      padding: 5px 15px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 15px;
      margin-left: 0.5rem;
      vertical-align: middle;
    }
  }
  .userName {
    font-weight: bold;
    color: #fff;
    i {
      margin-left: 15px;
    }
  }
  .el-dropdown {
    cursor: pointer;
    i {
      color: #fff;
    }
  }
}
